bottle==0.12.19
cycler==0.11.0
fonttools==4.28.4
kiwisolver==1.3.2
Markdown==2.6.11
markdown-server==0.1.4
matplotlib==3.5.1
numpy==1.21.4
packaging==21.3
Pillow==8.4.0
psutil==5.8.0
py-gfm==0.1.4
Pygments==2.10.0
pyparsing==3.0.6
python-dateutil==2.8.2
six==1.16.0
subprocess.run==0.0.8
